<header>
    <nav class="dFLex flexDC bgHead h750px" role="navigation">
        <div class="dFlex alignCC justifyCC padB20 ">
            <a href="#"><img src="assets/images/logo.svg" class="mt30" width="150px" height="150px"></a>
        </div>
        <div class="dFlex h100px vaB justifyCC alignCC flexDR alignIC ">
            <p class="ff0 fs36 color0 pad">Venez</p>
            <p class="ff1 fs78 background pad">festoyer</p>
           
        </div>
        <div class="dFlex h100px vaB justifyCC alignCC flexDR alignIC"> 
            <p class="ff0 fs22 color0 light">EN BOURGOGNE FRANCHE-COMTÉ</p>
        </div>
        <div class="dFlex h100px vaB justifyCC alignCC flexDR alignIC"> 
            <form class="h45px bgHeader br m30">
                <select name="Nom" id="" class="bRG h45px bnone bgHeader w175px color7 txtlc ">
                    <option value="">Nom du festival</option>
                </select>
                <select name="Type" id="" class="h45px bnone bgHeader w175px color7 txtlc ">
                    <option value="">Type</option>
                </select>
                <select name="Date" id="" class="h45px bnone bgHeader w175px color7 txtlc">
                    <option value="">Date</option>
                </select>
                <input type="submit" value=">" class="bgSub bRD color0 h45px bnone w50px">
            </form>
        </div>
    </nav>
</header>