{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block content %}
    <section class="h80vh bgSection dFlex justifyCC alignIC flexDR">
        <div class="dFlex h60vh w100vw ">
            <div class="dFlex flexDC bgHeader w50 pad30">
                <h1 class="ff1 color4 fs42 regular padB">A l'affiche</h1>
                    <div class="dFlex bbFest">
                        <img src="assets/images/nologo2018.jpg" class="marImg" width="100px" height="100px">
                        <article class="dFlex flexDC marImg justifyCC">
                            <p class="ff0 xbold color2 fs22 padB10">Festival No Logo</p>
                            <p class="ff0 xbold color8 fs14 padB10">10/08/2019 - 14/08/2019</p>
                            <p class="ff0 light color1 fs14">Fraisan - 39</p>
                        </article>
                    </div>
                    <div class="dFlex bbFest">
                        <img src="assets/images/nologo2018.jpg" class="marImg" width="100px" height="100px">
                        <article class="dFlex flexDC marImg justifyCC">
                            <p class="ff0 xbold color2 fs22 padB10">Festival No Logo</p>
                            <p class="ff0 xbold color8 fs14 padB10">10/08/2019 - 14/08/2019</p>
                            <p class="ff0 light color1 fs14">Fraisan - 39</p>
                        </article>
                    </div>
                    <div class="dFlex bbFest">
                        <img src="assets/images/nologo2018.jpg" class="marImg" width="100px" height="100px">
                        <article class="dFlex flexDC marImg justifyCC">
                            <p class="ff0 xbold color2 fs22 padB10">Festival No Logo</p>
                            <p class="ff0 xbold color8 fs14 padB10">10/08/2019 - 14/08/2019</p>
                            <p class="ff0 light color1 fs14">Fraisan - 39</p>
                        </article>
                    </div>
            </div>
            <div id="map" class="dFlex flexDC bgHeader w50 pad30">

            </div>
        <div>
    </section>
{% endblock %}